@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:900);
* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 13px;
}

.homeBanner {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.homeBannerList {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.navBarPers {
  background-color: transparent;
  margin-top: -200px;
  position: absolute;
  width: 100%;
}

.navBarIcon {
  height: 60px;
}

.bannerTXT {
  margin-top: 20px;
}

.bodyTXT {
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  margin-top: 0;
  max-width: 1000px;
}

.card {
  margin: auto;
  width: 90%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.borderWala {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 60%;
}

.search {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.search input {
  margin-right: 8px;
  width: 50%;
  max-width: 500px;
  padding-left: 10px;
  padding-bottom: 3px;
  border: 1px solid black;
  border-radius: 15px;
}

.search select {
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.imgPost {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postIMG {
  margin: auto;
  height: 150px;
  width: 90%;
  background-color: darkgrey;
}

.post {
  text-decoration: none;
  color: black;
  width: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.post:hover {
  width: 105%;
}

.fm-grid-container {
  margin-top: -100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1fr;
      grid-template-columns: 1fr 1.5fr 1fr;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
      grid-template-areas: "top top top" "lside center rside" "bottom bottom bottom";
  grid-direction: column;
}

.fm-grid-container button {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 3px;
}

.form {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: center;
}

.fm-items-grid-container {
  display: -ms-grid;
  display: grid;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 50px;
      grid-template-areas: ". a a ." ". a a .";
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.bodyTXTIndex {
  margin-top: 20px;
  margin-bottom: 20px;
}

#back2Top {
  width: 60px;
  height: 60px;
  padding-top: 16px;
  border-radius: 30px;
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 16px;
  z-index: 2000;
}

#red {
  border-top: solid whitesmoke;
  border-width: 15px;
  background: whitesmoke;
  position: absolute;
  height: 100%;
  width: 100%;
  height: 180px;
}

.text {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.text2 {
  font-size: 20px;
  text-align: center;
  margin-top: -50px;
}

.text3 {
  font-size: 20px;
  text-align: center;
  float: center;
}

#page-footer {
  display: none !important;
}

@media (min-width: 500px) {
  .post {
    text-decoration: none;
    color: black;
    width: 100%;
    -webkit-transition: width 2s;
    transition: width 2s;
    background-color: darkgrey;
  }
  .post:hover {
    width: 105%;
  }
  .imgPost {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .postIMG {
    margin: auto;
    height: 200px;
    width: 90%;
  }
  .homeBanner {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 2;
  }
  .navBarPers {
    background-color: transparent;
    margin-top: -400px;
    position: absolute;
    width: 100%;
  }
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .post {
    text-decoration: none;
    color: #000000;
    width: 100%;
    -webkit-transition: width 2s;
    transition: width 2s;
    background-color: darkgrey;
  }
  .post:hover {
    width: 105%;
  }
  .imgPost {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .postIMG {
    margin: auto;
    height: 400px;
    width: 90%;
  }
  .homeBanner {
    width: 100%;
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 2;
  }
  .navBarPers {
    background-color: transparent;
    margin-top: -700px;
    position: absolute;
    width: 100%;
  }
  h1 {
    font-size: 55px;
  }
  p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */